@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* Set a background image */
body {
    /* from https://pixabay.com/images/search/sailing%20ships */
    /* background: url('https://cdn.pixabay.com/photo/2018/10/07/10/24/sail-3729599_1280.jpg') no-repeat center center fixed; */
    background: url('https://cdn.pixabay.com/photo/2018/10/07/10/24/sail-3729600_1280.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
._language {
    background-color: #CCEEFF66;  
}
.bw2021fb_head { 
    text-align: center;
    margin: 10px auto !important;
}
.border-bw2021fb {
    border-color: #4f81bd !important;
}
.bg-bw2021fb {
    background-color: #4f81bd !important;
}
.btn-bw2021fb {
    background-color: #4f81bd;
}
.btn-bw2021fb:hover {
    background-color: #0069d9;
}
.text-bw2021fb {
    color: #4f81bd !important;
}
h2 {
    margin-top: 10px;
    padding: 0 0.1em 0.1em;
    font-weight: 400 !important;
    background-color: #FFFFFF66;
}
h2.border {
    border-width: 2px !important;
}
.card-body {
    background-color: #EEFD;
}
.row .card {
    background-color: #CCEEFFBB;
}
a[role="button"] {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    font-size: 32px !important;
    opacity: 75% !important;
}
/* @include media-breakpoint-up(sm) { */
@media (min-width: 576px) {
    a[role="button"] {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
}
blockquote {
    padding: 10px 0px 5px 20px;
    border-left: 1px solid darkblue;
    background-color: #FFFFFF33;
}
.sponsor_logo {
    max-width: fit-content;
}
mark {
    background-color: yellow;
}
.sz-5x {
    font-size: 5em;
}
.sz-4x {
    font-size: 4em;
}
.sz-3x {
    font-size: 3em;
}
.sz-1x {
    font-size: 2em;
}

/* Responsive typography */
/* Note: we hardcoded the media queries to avoid having to use sccs and mixins */

/* No media query for `xs` since this is the default in Bootstrap */
html {
    font-size: 0.90rem;
}
.display-4 {
    font-size: 2rem;
}

/* @include media-breakpoint-up(sm) { */
@media (min-width: 576px) {
    html {
        font-size: 0.95rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
}

/* @include media-breakpoint-up(md) { */
@media (min-width: 768px) {
    html {
        font-size: 1.00rem;
    }
    .display-4 {
        font-size: 3.0rem;
    }
}

/* @include media-breakpoint-up(lg) { */
@media (min-width: 992px) {
    html {
        font-size: 1.05rem;
    }
    .display-4 {
        font-size: 3.5rem;
    }
}

/* @include media-breakpoint-up(xl) { */
@media (min-width: 1200px) {
    html {
        font-size: 1.10rem;
    }
    .display-4 {
        font-size: 4.0rem;
    }
}
